extends  ../template/_layout.pug

block local
  - var pageName = "top";
  - var title = "responsive3";
  - var description = "レスポンシブ課題3です。";

block main 

block local_js
  script(src=jsPath + "")
  script(src= jsPath + pageName + "/" + pageName + ".js")