/* 
・半角スペース、空行は見本に倣って空けてください。
・なるべくhtmlに出てくるのが早い順に書きましょう。 
*/

/* 見本： */
.parent {
  padding: 20px;
  background-color: red;
}

.child {
  margin-top: 20px;
  padding: 20px;
  background-color: blue;
}

.child:first-child {
  margin-top: 0;
}

.grandChild {
  height: 100px;
  background-color: yellow;
}