@use "_var.scss" as *;

body {
  font-family: 'Hiragino Sans', 'Noto Sans JP', "游ゴシック", "Yu Gothic", sans-serif;
  color: $text-color;
  position: static;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  box-sizing: border-box;
}
