/* 
・例に倣って半角スペース、空行を入れて書きましょう。
・htmlに出てくるのが早い順に書きましょう。
*/

/* 例： */
.hoge {
  color: #000;
  width: 100px;
  height: 100px;
}

.huga {
  color: #fff;
  width: 100px;
  height: 100px;
}


/* ↓↓↓ここにcssを書いていって下さい。↓↓↓ */

/* ↑↑↑ここにcssを書いていって下さい。↑↑↑ */