doctype html
html(lang="ja")
  block global
    - var cssPath = "/css/";
    - var imgPath = "/img/";
    - var jsPath = "/js/";
    - var pagePath = "/";

  block local

  include ../includes/_head.pug
  body
    block header 
      include ../includes/_header.pug

    block main 
    
    block footer
      include ../includes/_footer.pug

    block js
      script(src= jsPath + "lib/jquery.min.js")

    block local_js