title{
    display: none;
}

body{
    width: 100%;
    background-color: rgb(244, 241, 241);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(196, 194, 194);
}

.logo img{
    width: 130px;
    margin: 15px;
}

.drawer-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.drawer-item{
    margin-right: 40px;
    text-align: center;
}

.drawer-item:last-child{
    margin: 0;
}

.drawer-item a{
    text-decoration: none;
    color: black;
}

.drawer-open{
    display: none;
}

.main {
    padding: 100px 0 200px;
}

.main > section + section {
    margin-top: 100px;
}

.title{
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.main-top{
    padding: 0 50px;
}

.main-top img{
    width: 80%;
    border:5px solid #ffffff;
}

.tab{
    width: 70%;
    margin: auto;
}

.tab_list{
    display: flex;
    align-items: flex-end;
}

.box_inner{
    background-color: #ffffff;
    padding: 10px;
    font-size: 14px;
}

.text{
    position: relative;
    font-size: 15px;
    text-align: center;
    background-color: rgb(151, 149, 149);
    padding: 10px;
    width: 50%;
    cursor: pointer;
}

.text:not(:last-of-type){
    margin-right: 1em;
}

.active{
    color: #ffffff;
    background-color: rgb(43, 219, 160);
}

.popup{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin: 10px auto;
}

.popup_inner{
    width: 48%;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
}

.popup_inner:nth-last-child(-n+2){
    margin-bottom: 0;
}

.main-bottom img{
    width: 100%;
    transition-duration: 0.5s;
    border: none;
}

.popup_inner:hover img{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.popup_inner:hover{
    box-shadow: 0 10px 10px 0 rgb(195, 194, 194) ;
    transform: translateY(-2px);
    transition-duration: 0.5s;
}

.lb-dataContainer {
    position: absolute;
    top: -15px;
}

.moreRead {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.moreRead ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.moreRead li {
    width: 30%;
    height: 200px;
    background-color: #333333;
    list-style-type: none;
}

.moreRead ul li:nth-child(n+4) {
    display: none;
}

.moreRead .button {
    width: 30%;
    border: 1px solid green;
    text-align: center;
    margin: 3.0em auto;
}

.moreRead .button {
    color: green;
    text-decoration: none;
    display: block;
    padding: 0.5em 0;
}

.moreRead .active{
    height: 400px;
}

.moreRead ul .active {
    display: block;
}

.acWrap {
    max-width: 960px;
    margin: auto;
}
  
.ac {
width: 100%;
max-width: 600px;
margin: 0 auto;
}

.ac-parent {
height: 50px;
border-bottom: 1px solid #fff;
background-color: #1ceea8;
color: #fff;
text-align: center;
line-height: 50px;
cursor: pointer;
}

.ac-child {
display: none;
padding: 1em;
background-color: #d3f0de;
text-align: center;
}

.footer {
    background-color: rgb(196, 194, 194);
    padding: 30px 0 30px 30px;
}

@media screen and (max-width:768px){
    header{
        padding: 0 10px;
    }

    .logo img{
        width: 110px;
        margin: 15px 0;
    }

    .drawer-list{
        display: block;
        width: 100%;
    }

    .drawer-open{
        display: flex;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        cursor: pointer;
    }

    .drawer-open span{
        content: "";
        display: block;
        height: 2px;
        width: 30px;
        border-radius: 3px;
        background: black;
        transition: transform .5s, opacity .5s;
        position: absolute;
    }

    .drawer-open span:nth-child(1){
        top: 4px;
    }

    .drawer-open span:nth-child(2){
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .drawer-open span:nth-child(3){
        bottom: 4px;
    }

    .drawer-open span.show:nth-child(1){
        transform: translateY(11px)rotate(45deg);
    }

    .drawer-open span.show:nth-child(2){
        opacity: 0;
    }

    .drawer-open span.show:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }

    .drawer-content{
        width: 100%;
        position: fixed;
        top:50px;
        left: 0;
        z-index: 99;
        background: gray;
        transition: -8.5s;
    }
    
    .drawer-content{
        display: none;
    }

    
    .drawer-item{
        margin-right: 0;
    }

    .drawer-list a{
        text-align: center;
        color: #ffffff;
        background-color: gray;
        line-height: 4;
    }
    
    .main-top{
        width: 90%;
        margin: auto;
    }

    .main-top img{
        width: 100%;
    }

    .title{
        font-size: 16px;
        margin-top: 30px;
    }

    .text{
        font-size: 13px;
    }

    .boxA,.boxB{
        width: 90%;
    }

    .popup{
        width: 90%;
    }

    .main {
        padding: 30px 0 100px;
    }
    
    .main > section + section {
        margin-top: 60px;
    }    
}